* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.sidemenu {
  width: 280px;
  padding: 10px;
  background-color: #202123;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;

}

.side-menu-button {
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  text-align: left;
  transition: ease 0.25s all;
}

.side-menu-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.side-menu-button span {
  padding-left: 6px;
  padding-right: 12px;
}

.sideMenu-container {
  margin-top: 24px;
  text-align: left;
}

.slider-text-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.text-model {
  margin-bottom: 10px;
}

.dropdown {
  background-color: #0c725a;
}

.chatBox {
  flex: 1;
  position: relative;
}

.chat-input-holder {
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat-input-textarea {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  font-size: 1em;
  border: none;
  outline: none;
  resize: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.text-bottom {
  font-size: 0.7em;
  opacity: 0.6;
  padding: 10px;
}

.chat-log {
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow-y: scroll;
  height: 82%;
}

.chat-message.chatgpt {
  background-color: #444654;
  width: 100%;
}

.chat-message.lightChatgpt {
  background-color: #EAE9ED;
  width: 100%;
}

.chat-message-center {
  display: flex;
  padding: 12px 24px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  min-width: 40px;
  object-fit: cover;
}

.message {
  padding: 0 40px;
}

.center-div {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 100px;
}

.time {
  font-size: 0.8em;
  padding-right: 30px;
}

.button-holder {
  position: absolute;
  bottom: 15px;
  padding: 10px;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.button {
  padding: 15px;
  text-align: left;
  width: 240px;
  color: white;
  text-decoration: none;
  margin-bottom: 15px;
}

.button:hover {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: ease 0.25s all;
  cursor: pointer;
}

.separator {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  width: 240px;
  margin-bottom: 20px;
}

.card-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signInCard {
  position: relative;
  border: 1px solid white;
  height: 450px;
  width: 450px;
  min-width: 430px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 30px;

  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
}

.loginImage {
  position: absolute;
  top: -110px;
  left: 140px;
  height: 150px;
  width: 150px;
  object-fit: contain;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 20px;
  background-color: #119b7b;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);

}

.txtLight {
  color: #646464;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  margin-top: 45px;
}

.txtBold {
  color: black;
  line-height: 78px;
  font-size: 1.9em;
  font-weight: 800;
}

.txtSignIn {
  max-width: 400px;
  padding: 5px;
  color: #413d3d;
  font-weight: 400;
  font-size: 16px;
  font-family: sans-serif;
}

.btnSignIn {
  margin-top: 60px;
  background-color: #119b7b;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;

  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.btnSignIn:hover {
  cursor: pointer;
  background-color: #0c725a;
  transition: ease 0.3s all;
}